{% extends 'base.html' %} {% block content %}
<div class="message-box">
  <h3>Room: {{code}}</h3>
  <h1 id="selected-value">&nbsp;</h1>
  <div class="selection" id="selection"></div>
  <div class="logs" id="logs"></div>
</div>
<script type="text/javascript">
  var socketio = io();
  var canSelect = true;

  // generates number selection section
  const selection = document.getElementById("selection");
  const createButton = (val) => {
    const button = `
        <input type="button" value="${val}" onClick="sendMessage(${val})"></button>
    `;
    selection.innerHTML += button;
  };
  Array(101).keys().forEach(v => createButton(v));

  // generates logs section
  const logs = document.getElementById("logs");
  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${new Date().toLocaleString()}
        </span>
    </div>
    `;
    logs.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = (num) => {
    if (canSelect) {
      document.getElementById("selected-value").innerText = `${num}`;
      socketio.emit("message", { data: num });
      canSelect = false;
    }
  };
</script>
{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %} {% endblock %}
